sudo: required
services:
  - docker

before_install:
  - docker build -t bardzi88/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true bardzi88/react-test npm test

after_success:
  - docker build -t bardzi88/multi-client ./client
  - docker build -t bardzi88/multi-nginx ./nginx
  - docker build -t bardzi88/multi-server ./server
  - docker build -t bardzi88/multi-worker ./worker

  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push bardzi88/multi-client
  - docker push bardzi88/multi-nginx
  - docker push bardzi88/multi-server
  - docker push bardzi88/multi-worker