sudo: required
services:
  - docker

before_install:
  - docker build -t bartek/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true bartek/react-test npm test

after_success:
  - docker build -t bartek/multi-client ./client
  - docker build -t bartek/multi-nginx ./nginx
  - docker build -t bartek/multi-server ./server
  - docker build -t bartek/multi-worker ./worker

  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push bartek/multi-client
  - docker push bartek/multi-nginx
  - docker push bartek/multi-server
  - docker push bartek/multi-worker